<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MovieInfoGather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>

  </applicationSettings>
  <connectionStrings>
    <add name="Yes24Instance" providerName="System.Data.SqlClient" connectionString="Server=apollo2\vben,4999;database=YES24_MOVIE;User ID=VBenUser;PWD=a123456789+;"/>
  </connectionStrings>
  <appSettings>
    <add key="INTERVAL" value="5"/>
    <add key="LOG_FILE_NAME" value="D://04.Demon//MovieInfoGather//log.txt"/>
    <add key="KOBIS_BOX_OFFICE_DAILY_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json"/>
    <add key="KOBIS_BOX_OFFICE_WEEKLY_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json"/>
    <add key="KOBIS_COMMON_CODE_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/code/searchCodeList.json"/>
    <add key="KOBIS_MOVIE_LIST_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json"/>
    <add key="KOBIS_MOVIE_DETAIL_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json"/>
    <add key="KOBIS_MOVIE_COMP_LIST_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/company/searchCompanyList.json"/>
    <add key="KOBIS_MOVIE_COMP_DETAIL_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/company/searchCompanyInfo.json"/>
    <add key="KOBIS_MOVIE_PERSON_LIST_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/people/searchPeopleList.json"/>
    <add key="KOBIS_MOVIE_PERSON_DETAIL_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/people/searchPeopleInfo.json"/>
    <add key="KOBIS_MOVIE_PERSON_DETAIL_URL" value="http://www.kobis.or.kr/kobisopenapi/webservice/rest/people/searchPeopleInfo.json"/>
    <add key="KOBIS_API_KEY" value="5d1266c6501e5340016884394e0c3e8a"/>
  </appSettings>
</configuration>